artigos
datasetnovo
frames
frames_sets_224_224
image_frames_processadas
modelos
preprocessamento
videos_20240505_170403
videos_dos_jogos
dataset.zip
principal.ipynb
treinamento_1_MobileNet copy.ipynb
treinamento_2_Inception copy.ipynb
treinamento_3_ResNet50V2 copy.ipynb
videos_20240505_170403.zip